$col1: #9fdabb;
$col2: #d1ffe6;
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient($col1,$col2) 0 100% no-repeat;
    background-size: 100% 50%;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.flex {
    display: flex;
}
img {
    max-width: 100%;
}

.box {
    min-height: 80vh;
    min-width: 50vw;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(#000,.1);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;

    h1 {
        text-align: center;
        text-transform: uppercase;

    }

    .game {
        padding: 2rem 1rem;
        width: 100%;
        .dices {
            justify-content: space-between;
            padding: 2rem 0;
            & > .user {
                width: 35%;
                border: 3px solid #eee;
                padding: 2rem 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            & > .bot {
                width: 35%;
                border: 3px solid #eee;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 2rem 1rem;
            }
            p {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.5rem;
                opacity: 0.5;
            }
            img {
                max-width: 145px;
                width: 90%;
            }
        }

        .buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            .start {
                background-color: $col1;
                border: 3px solid $col2;
                border-radius: 10px;
                font-size: 1.5rem;
                padding: 1rem 2rem;
                text-transform: uppercase;
                color: #fff;
                cursor: pointer;
            }
            .restart {
                margin-top: 1.5rem;
                border: none;
                background: none;
                text-transform: uppercase;
                font-size: 1rem;
                color: #999;
                cursor: pointer;
            }
        }
        .history {
            & > .flex {
                flex-direction: column;
                max-height: 200px;
                overflow-y: auto;
                list-style:conic-gradient;    
                li {
                    margin-top: 1rem;
                    div {
                        display: flex;
                        align-items: baseline;
                        column-gap: 5px;
                        img {
                            width: 20px;
                        }
                    }
                }
            }
        }
    }


}

.status {
    position: fixed;
    left: 10px;
    top: 10px;
    padding: 1rem 1.5em;
    font-weight: 700;
    color: #fff;
    background: $col1;
    border: 3px solid $col2;
    border-radius: 15px;
    z-index: 10;
    transition: all 1s;
    width: auto;
    height: auto;
    img {
        width: 20px;
    }
}